* {
    margin: 40;
    padding: 40;
}

div {
    border: 2px solid black;
}

.grid-container {
    background-color: blue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}
 
div[title] {
    border-color: pink;
}

#probando {
    background-color: orange;
    font-weight: bold;
}

.grid-item {
    /* color: red !important; */
    background-color: #d5e8d4;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-family: Arial, sans-serif;
}
